body{
    background-color: #181818;
    color: #fff;
}
.titulo1{
    color: lightgreen;
    font-family: Finger Paint, arial;
    transition: 2s;
    text-align: center;
}
.titulo1:hover {
    font-family: Michroma;
    font-size: 40px;
    color: rgb(200,200,120);
}
.parag1{
    color: rgb(200,200,120);
}